@font-face {
	font-family: "FluentIcons Regular 28";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/FluentIcons Regular 28.woff2") format("woff2"),
		 url("../fonts/FluentIcons Regular 28.woff") format("woff");
}

.fluent-icons-regular-28,
.fluent-icons-28 {
	font-family: "FluentIcons Regular 28";
	font-weight: normal;
	font-style: normal;
	font-size: 28px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	user-select: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}