@font-face {
	font-family: "FluentIcons Regular 16";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/FluentIcons Regular 16.woff2") format("woff2"),
		 url("../fonts/FluentIcons Regular 16.woff") format("woff");
}

.fluent-icons-regular-16,
.fluent-icons-16 {
	font-family: "FluentIcons Regular 16";
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}